* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* --------------------輪播圖內容-------------------- */
.container {
    position: relative;
}

.ccarousels {
    display: none;
}

.number {
    position: absolute;
    top: 3%;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #FFF;
}

img {
    width: 100%;
    vertical-align: top;
}

.text {
    position: absolute;
    top: 50%;
    width: 100%;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: #FFF;
}

.arrow{
    position: absolute;
    top: 45%;
    padding: 20px;
    font-size: 25px;
    color: #FFF;
    cursor: pointer;
    transition: 0.3s ease;
}

.arrow:hover {
    font-size: 30px;
    background-color: #808080;
    border-radius: 10%;
}

.next {
    right: 0;
}

.dot-group {
    position: absolute;
    bottom: 15px;
    width: 100%;
    text-align: center;
}

.dot {
    display: inline-block;
    width: 30px;
    height: 3px;
    background-color: #FFF;
    transition: 0.6s ease;
    cursor: pointer;
}

.active,
.dot:hover {
    background-color: #808080;
}

/* --------------------圖片滑動效果-------------------- */
.right-slide {
    animation-name: right-slide;
    animation-duration: 0.5s;
}

@keyframes right-slide {
    from {
        transform: translateX(-100%)
    }

    to {
        transform: translateX(0%)
    }
}

.left-slide {
    animation-name: left-slide;
    animation-duration: 0.5s;
}

@keyframes left-slide {
    from {
        transform: translateX(100%)
    }

    to {
        transform: translateX(0%)
    }
}

/* --------------------外框樣式-------------------- */
.border-style {
    position: relative;
    max-width: 1000px;
    margin: 20px auto;
    padding: 30px;
    background-color: #FFF;
    border-top: 1px solid #CCC;
    border-right: 1px solid #CCC;
    border-left: 1px solid #CCC;
    border-top-left-radius: 60px 5px;
    border-top-right-radius: 60px 5px;
    border-bottom-right-radius: 60px 60px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
}

.border-style:before {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 25px;
    height: 20px;
    content: '';
    border-bottom-right-radius: 30px;
    box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.3);
    transform: rotate(-20deg) skew(-40deg, -3deg) translate(-13px, -13px);
}

.border-style:after {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 100px;
    background: rgba(0, 0, 0, 0.2);
    content: '';
    z-index: -1;
    box-shadow: 20px 20px 8px rgba(0, 0, 0, 0.2);
    transform: rotate(0deg) translate(-45px, -20px) skew(20deg);
}
